.Navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #222;
    padding: 20px;
    width: 100%;
    height: 5%;
    justify-content: space-evenly;
}

.Navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 20px;
    transition: all 0.3s ease;
    border-radius: 5px;
}

.Navbar a:hover {
    background-color: #333; /* background on hover */
    text-decoration: underline; /* underline */
}

.Navbar a.active {
    background-color: #555; /* background on active */
}